* {
    font-family: "JetBrainsMono Nerd Font";
	font-weight: bold;
	font-size: 16px;
	all: initial;
}

#cpu,
#memory,
#pulseaudio,
#language,
#clock {
    color: #81a1c1;
}

#waybar {
	background-color: #282c34;
}

#workspaces button {
    padding: 0 5px;
}

#workspaces button.active label,
#workspaces button.focused label,
#custom-distro {
	font-size: 20px;
    color: #81a1c1;
    padding: 0 5px;
}

#pulseaudio {
    padding: 0 5px;
}

#language {
    padding: 0 5px;
}

#clock {
    padding: 0 15px;
}
